In [65]:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
import numpy as np
import json
import pandas as pd
import funciones_movimientos as fm #Funciones customizadas
import funciones_fechas as ff #Funciones customizadas
import psycopg2
from datetime import date, datetime, timedelta
conn = psycopg2.connect("host='postgre-sqltest.cpdeokpzufj1.us-west-2.rds.amazonaws.com' port=5432 dbname='postgres' user=xseed password=LosTilos114")
crs = {'init': 'epsg:4326'}

def cast_date(date):
    return datetime.strptime(date, '%Y-%m-%d')

In [66]:
query = '''
SELECT  uts.anual_total_use_day, uts.date, wc.precipitation, wc.temp_max, wc.temp_media, wc.temp_min, wc.wind_speed,
       aq.dioxido_nitrogeno
FROM user_total_statistics uts
join weather_conditions wc on wc.date = uts.date
join air_quality aq on aq.date = uts.date
'''

data_usos = pd.read_sql(query, conn)

In [64]:
data_usos['season'] = data_usos.apply(get_season_row, axis = 1)

TypeError: strptime() argument 1 must be str, not datetime.date

In [50]:
data_usos.describe()

,anual_total_use_day,precipitation,temp_max,temp_media,temp_min,wind_speed,dioxido_nitrogeno
count,1648.000000,1648.000000,1648.000000,1648.000000,1648.000000,1648.000000,1648.000000
mean,8018.006675,1.096845,21.583617,16.475425,11.365655,1.747087,30.768811
std,3249.510593,3.534418,9.140430,7.906306,6.870926,0.994730,16.519182
min,17.000000,0.000000,2.800000,0.400000,-3.000000,0.000000,0.000000
25%,5412.500000,0.000000,13.400000,9.400000,5.400000,1.100000,19.000000
50%,8057.000000,0.000000,20.800000,15.900000,11.000000,1.700000,27.000000
75%,10340.500000,0.000000,29.600000,23.300000,17.100000,2.200000,40.000000
max,16529.000000,38.900000,40.000000,32.900000,25.900000,6.400000,111.000000

In [45]:
prueba = cast_date('2014-06-25')

In [46]:
prueba

datetime.datetime(2014, 6, 25, 0, 0)

In [56]:
data_usos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648 entries, 0 to 1647
Data columns (total 8 columns):
anual_total_use_day    1648 non-null int64
date                   1648 non-null object
precipitation          1648 non-null float64
temp_max               1648 non-null float64
temp_media             1648 non-null float64
temp_min               1648 non-null float64
wind_speed             1648 non-null float64
dioxido_nitrogeno      1648 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 103.1+ KB