## ETL movimientos bicimad

In [1]:
import pandas as pd
import numpy as np
from datetime import date, datetime

In [3]:
movimientos= pd.read_csv('../dat/movimientos.csv',sep=';')
movimientos_oct= pd.read_csv('../dat/movimientos_octubre2018.csv', sep=';')
datamov=[movimientos,movimientos_oct]
datamov=pd.concat(datamov)
datamov.head()

,1,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
0,1,58e5e5e7865e9c221ca45898,df843a74bba22d2b363e4e96f74b99391276e71dfea92e...,17,1,1,169,41,4,50,2017-04-01 01:00,28005
1,1,58e5e5e7865e9c221ca458a7,6a7cf4393301d25f5a2eeaff8c7ba5d406f514ebd086aa...,2,1,14,271,95,5,90,2017-04-01 01:00,28043
2,1,58e5e5e7865e9c221ca458b2,877deab4cc256bb87e02abc1db75005ac2b66d65be8849...,5,1,5,171,15,4,16,2017-04-01 01:00,28053
3,1,58e5e5e7865e9c221ca458b8,91bbf6c3ba396f84cce4e96e59be42b0824a16c8a1bf89...,18,1,20,388,23,4,57,2017-04-01 01:00,28012
4,1,58e5e5e7865e9c221ca458b9,4476cabb023b8b4473e5b6e78a1a79e0ebc8910c8e9989...,2,1,2,381,23,4,43,2017-04-01 01:00,28042

In [4]:
datamov.tail()

,1,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
385446,1,5be0cb922f384349d0384f74,6ee2680e31982b9d6158ea88555e35232f33c5bf9599d9...,9,3,10,5278,42,4,107,2018-10-31 23:00,NaN
385447,1,5be0cb922f384349d0384f78,6ee2680e31982b9d6158ea88555e35232f33c5bf9599d9...,12,3,11,5296,42,4,107,2018-10-31 23:00,NaN
385448,1,5be0cb952f384349d0384fe4,d4202b962fe0361e57af24e0691de13834bf7bff5fed32...,25,1,14,7222,91,4,135,2018-10-31 23:00,28760
385449,1,5be0cba32f384349d038536d,5918469b17fec87c34a6cc1fb58760e84cd33d2299ebc7...,20,1,16,16183,118,5,84,2018-10-31 23:00,28015
385450,1,5be0cbab2f384349d0385595,26a87b951b7f4e4d28c7d8eda0ac76ee5b4d025ee74ec5...,21,1,4,19323,152,5,175,2018-10-31 23:00,28012

In [5]:
#Eliminamos columna '1'
datamov.drop(datamov.columns[[0]], axis=1, inplace=True)
datamov.head()

,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
0,58e5e5e7865e9c221ca45898,df843a74bba22d2b363e4e96f74b99391276e71dfea92e...,17,1,1,169,41,4,50,2017-04-01 01:00,28005
1,58e5e5e7865e9c221ca458a7,6a7cf4393301d25f5a2eeaff8c7ba5d406f514ebd086aa...,2,1,14,271,95,5,90,2017-04-01 01:00,28043
2,58e5e5e7865e9c221ca458b2,877deab4cc256bb87e02abc1db75005ac2b66d65be8849...,5,1,5,171,15,4,16,2017-04-01 01:00,28053
3,58e5e5e7865e9c221ca458b8,91bbf6c3ba396f84cce4e96e59be42b0824a16c8a1bf89...,18,1,20,388,23,4,57,2017-04-01 01:00,28012
4,58e5e5e7865e9c221ca458b9,4476cabb023b8b4473e5b6e78a1a79e0ebc8910c8e9989...,2,1,2,381,23,4,43,2017-04-01 01:00,28042

In [63]:
datamov.shape

(6729182, 11)

In [64]:
datamov.dtypes

oid                 object
user_day_code       object
idplug_base          int64
user_type_code       int64
idunplug_base        int64
travel_time          int64
idunplug_station     int64
age_range_code       int64
idplug_station       int64
unplug_hourtime     object
zip_code            object
dtype: object

In [65]:
datamov.head(1)

,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
0,58e5e5e7865e9c221ca45898,df843a74bba22d2b363e4e96f74b99391276e71dfea92e...,17,1,1,169,41,4,50,2017-04-01 01:00,28005

In [6]:
#Convertimos 'unplup_ourtime' de Objet a Datetime 
def cast_date(date):
    return datetime.strptime(date, '%Y-%m-%d %H:%M')

datamov['unplug_hourtime'] = datamov.unplug_hourtime.apply(cast_date)

In [71]:
datamov.dtypes

oid                         object
user_day_code               object
idplug_base                  int64
user_type_code               int64
idunplug_base                int64
travel_time                  int64
idunplug_station             int64
age_range_code               int64
idplug_station               int64
unplug_hourtime     datetime64[ns]
zip_code                    object
dtype: object

In [72]:
datamov.describe()

,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station
count,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06
mean,1.181884e+01,1.174983e+00,1.181623e+01,1.159276e+03,8.952305e+01,2.838394e+00,8.948341e+01
std,7.515145e+00,5.935772e-01,7.492908e+00,1.206894e+04,5.170769e+01,2.005560e+00,5.171542e+01
min,1.000000e+00,0.000000e+00,1.000000e+00,-3.434000e+03,1.000000e+00,0.000000e+00,1.000000e+00
25%,5.000000e+00,1.000000e+00,5.000000e+00,4.480000e+02,4.600000e+01,0.000000e+00,4.600000e+01
50%,1.100000e+01,1.000000e+00,1.100000e+01,6.870000e+02,8.700000e+01,4.000000e+00,8.600000e+01
75%,1.900000e+01,1.000000e+00,1.900000e+01,1.060000e+03,1.350000e+02,4.000000e+00,1.350000e+02
max,3.000000e+01,3.000000e+00,3.000000e+01,9.755123e+06,2.008000e+03,6.000000e+00,2.008000e+03

In [75]:
#Descartamos las estaciones con id=2008
datamov = datamov[datamov.idunplug_station!=2008]

In [76]:
datamov.describe()

,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station
count,6.729124e+06,6.729124e+06,6.729124e+06,6.729124e+06,6.729124e+06,6.729124e+06,6.729124e+06
mean,1.181893e+01,1.174977e+00,1.181632e+01,1.158733e+03,8.950652e+01,2.838403e+00,8.946687e+01
std,7.515114e+00,5.935684e-01,7.492876e+00,1.200574e+04,5.140023e+01,2.005559e+00,5.140800e+01
min,1.000000e+00,0.000000e+00,1.000000e+00,-3.434000e+03,1.000000e+00,0.000000e+00,1.000000e+00
25%,5.000000e+00,1.000000e+00,5.000000e+00,4.480000e+02,4.600000e+01,0.000000e+00,4.600000e+01
50%,1.100000e+01,1.000000e+00,1.100000e+01,6.870000e+02,8.700000e+01,4.000000e+00,8.600000e+01
75%,1.900000e+01,1.000000e+00,1.900000e+01,1.060000e+03,1.350000e+02,4.000000e+00,1.350000e+02
max,3.000000e+01,3.000000e+00,3.000000e+01,9.755123e+06,1.750000e+02,6.000000e+00,1.750000e+02

In [78]:
datamov[datamov.travel_time<0].count()

oid                 76
user_day_code       76
idplug_base         76
user_type_code      76
idunplug_base       76
travel_time         76
idunplug_station    76
age_range_code      76
idplug_station      76
unplug_hourtime     76
zip_code            43
dtype: int64

In [80]:
#Descartamos los viajes con tiempos negativos
datamov=datamov[datamov.travel_time>0]
datamov.describe()

,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station
count,6.729034e+06,6.729034e+06,6.729034e+06,6.729034e+06,6.729034e+06,6.729034e+06,6.729034e+06
mean,1.181893e+01,1.174976e+00,1.181633e+01,1.158777e+03,8.950665e+01,2.838412e+00,8.946674e+01
std,7.515122e+00,5.935678e-01,7.492879e+00,1.200581e+04,5.140019e+01,2.005559e+00,5.140799e+01
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,5.000000e+00,1.000000e+00,5.000000e+00,4.480000e+02,4.600000e+01,0.000000e+00,4.600000e+01
50%,1.100000e+01,1.000000e+00,1.100000e+01,6.870000e+02,8.700000e+01,4.000000e+00,8.600000e+01
75%,1.900000e+01,1.000000e+00,1.900000e+01,1.060000e+03,1.350000e+02,4.000000e+00,1.350000e+02
max,3.000000e+01,3.000000e+00,3.000000e+01,9.755123e+06,1.750000e+02,6.000000e+00,1.750000e+02

In [81]:
datamov.head(1)

,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
0,58e5e5e7865e9c221ca45898,df843a74bba22d2b363e4e96f74b99391276e71dfea92e...,17,1,1,169,41,4,50,2017-04-01 01:00:00,28005

In [93]:
#Consultamos los zip_code con valores NaN
len(datamov[datamov.zip_code.isnull()])

2563042

In [7]:
datamov.describe()

,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station
count,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06,6.729182e+06
mean,1.181884e+01,1.174983e+00,1.181623e+01,1.159276e+03,8.952305e+01,2.838394e+00,8.948341e+01
std,7.515145e+00,5.935772e-01,7.492908e+00,1.206894e+04,5.170769e+01,2.005560e+00,5.171542e+01
min,1.000000e+00,0.000000e+00,1.000000e+00,-3.434000e+03,1.000000e+00,0.000000e+00,1.000000e+00
25%,5.000000e+00,1.000000e+00,5.000000e+00,4.480000e+02,4.600000e+01,0.000000e+00,4.600000e+01
50%,1.100000e+01,1.000000e+00,1.100000e+01,6.870000e+02,8.700000e+01,4.000000e+00,8.600000e+01
75%,1.900000e+01,1.000000e+00,1.900000e+01,1.060000e+03,1.350000e+02,4.000000e+00,1.350000e+02
max,3.000000e+01,3.000000e+00,3.000000e+01,9.755123e+06,2.008000e+03,6.000000e+00,2.008000e+03

In [13]:
datamov[datamov.age_range_code>6]

Empty DataFrame
Columns: [oid, user_day_code, idplug_base, user_type_code, idunplug_base, travel_time, idunplug_station, age_range_code, idplug_station, unplug_hourtime, zip_code]
Index: []

In [ ]:
#Lleno BD de stations
#cur = conn.cursor()
#for index, ROW in stations_gdf.iterrows():
 #   insert_query = "INSERT INTO station(id, code_station, name,address, num_bases, geom, latitude, longitude) VALUES ({0},{1},'{2}','{3}',{4}, ST_GeomFromText('{5}',4326),{6},{7})".format(ROW['id'], station['code_station'], station['name'], station['address'], station['num_bases'],  station['geometry'], station['latitude'], station['longitude'])
  #  cur.execute(insert_query)
#conn.commit()
#conn.close()

import psycopg2 as pg
conn = pg.connect("postgres://xseed:LosTilos114@postgre-sqltest.cpdeokpzufj1.us-west-2.rds.amazonaws.com:5432/postgres")

cur = conn.cursor()
for index, row in datamov.iterrows():
    insert_query = "insert into bike_movement(oid, user_day_code, idunplug_station, idplug_station, idunplug_base, idplug_base, unplug_hourtime, travel_time, user_type_code, age_range_code, zip_code) VALUES('{0}', '{1}', {2}, {3}, {4}, {5}, '{6}', {7}, {8}, {9}, '{10}')". format(row['oid'], row['user_day_code'], row['idunplug_station'], row['idplug_station'], row['idunplug_base'], row['idplug_base'], row['unplug_hourtime'], row['travel_time'], row['user_type_code'], row['age_range_code'], row['zip_code'])
    print(insert_query)
    cur.execute(insert_query)
conn.commit()
conn.close()

In [ ]:
datamov.to_sql