## ETL movimientos bicimad

In [1]:
import pandas as pd
import numpy as np
from datetime import date, datetime

In [ ]:
movimientos= pd.read_csv('movimientos.csv',sep=';')
movimientos_oct= pd.read_csv('movimientos_octubre2018.csv', sep=';')
datamov=[movimientos,movimientos_oct]
datamov=pd.concat(datamov)
datamov.head()

In [ ]:
#Eliminamos columna '1'
datamov.drop(datamov.columns[[0]], axis=1, inplace=True)
datamov.head()

In [ ]:
datamov.shape

In [ ]:
#Convertimos 'unplup_ourtime' de Objet a Datetime 
def cast_date(date):
    return datetime.strptime(date, '%Y-%m-%d %H:%M')

datamov['unplug_hourtime'] = datamov.unplug_hourtime.apply(cast_date)

In [ ]:
datamov.dtypes

In [ ]:
datamov.describe()

In [ ]:
#Descartamos las estaciones con id=2008
datamov = datamov[datamov.idunplug_station!=2008]

In [ ]:
#Descartamos los viajes con tiempos negativos
datamov=datamov[datamov.travel_time>0]
datamov.describe()

In [ ]:
#Consultamos los zip_code con valores NaN
len(datamov[datamov.zip_code.isnull()])

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgres://xseed:LosTilos114@postgre-sqltest.cpdeokpzufj1.us-west-2.rds.amazonaws.com:5432/postgres',use_batch_mode=True)
#el parametro uses batch mode hace que ejecute en un tiempo normal. Sin eso tarda horas en completarse lo mismo que tarda minutos con esto.

### Voy ejecutando cada 1 millon de registros que separe antes en distintos csv

**Hago un for cada 100.000 registros para monitorear el avance y ver que efectivamente se están guardando los datos**

In [ ]:
movimientos= pd.read_csv('primer_millon.csv',sep=',',index_col=None)
for x in range(0,len(movimientos), 100000):
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table

In [ ]:
movimientos= pd.read_csv('segundo_millon.csv',sep=',',index_col=None)
for x in range(0,len(movimientos), 100000):
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table

In [ ]:
movimientos= pd.read_csv('tercer_millon.csv',sep=',',index_col=None)
for x in range(0,len(movimientos), 100000):
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table

In [ ]:
movimientos= pd.read_csv('cuarto_millon.csv',sep=',',index_col=None)
for x in range(0,len(movimientos), 100000):
    print(str(x))
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table

In [ ]:
movimientos= pd.read_csv('quinto_millon.csv',sep=',',index_col=None)
for x in range(0,len(movimientos), 100000):
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table

In [ ]:
movimientos= pd.read_csv('sexto_millon.csv',sep=',',index_col=None)
for x in range(0,len(movimientos), 100000):
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table

Se agregó Enero 2019 que no estaba disponible cuando se realizó este proceso.

In [5]:
movimientos= pd.read_csv('movimientos_enero2019.csv',sep=';')
movimientos.head()

,1,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
0,1,5c4b07ea2f38432e007daab8,b3b5b61509ab89afbf4d1e589d229bebe6637c2de819f5...,14,1,23,162,82,0,83,2019-01-01 00:00,NaN
1,1,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01 00:00,28005
2,1,5c4b07ea2f38432e007daabb,905737396c2fe343c84d62eaee3ab66e19632638c5bea7...,5,1,3,545,25,0,90,2019-01-01 00:00,NaN
3,1,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01 00:00,28009
4,1,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01 00:00,28005

In [6]:
#Eliminamos columna '1'
movimientos.drop(movimientos.columns[[0]], axis=1, inplace=True)
movimientos.head()

,oid,user_day_code,idplug_base,user_type_code,idunplug_base,travel_time,idunplug_station,age_range_code,idplug_station,unplug_hourtime,zip_code
0,5c4b07ea2f38432e007daab8,b3b5b61509ab89afbf4d1e589d229bebe6637c2de819f5...,14,1,23,162,82,0,83,2019-01-01 00:00,NaN
1,5c4b07ea2f38432e007daaba,a18550d468153bb8e1808d4f0a85955579951832772996...,10,1,1,415,133,5,36,2019-01-01 00:00,28005
2,5c4b07ea2f38432e007daabb,905737396c2fe343c84d62eaee3ab66e19632638c5bea7...,5,1,3,545,25,0,90,2019-01-01 00:00,NaN
3,5c4b07ea2f38432e007daabd,5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,18,1,6,417,105,3,155,2019-01-01 00:00,28009
4,5c4b07ea2f38432e007daabe,ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,4,1,12,448,51,4,44,2019-01-01 00:00,28005

In [7]:
#Convertimos 'unplup_ourtime' de Objet a Datetime 
def cast_date(date):
    return datetime.strptime(date, '%Y-%m-%d %H:%M')

movimientos['unplug_hourtime'] = movimientos.unplug_hourtime.apply(cast_date)

In [8]:
#Descartamos las estaciones con id=2008
movimientos = movimientos[movimientos.idunplug_station!=2008]

In [10]:
#Descartamos los viajes con tiempos negativos
movimientos=movimientos[movimientos.travel_time>0]

In [11]:
from sqlalchemy import create_engine
engine = create_engine('postgres://xseed:LosTilos114@postgre-sqltest.cpdeokpzufj1.us-west-2.rds.amazonaws.com:5432/postgres',use_batch_mode=True)
#el parametro uses batch mode hace que ejecute en un tiempo normal. Sin eso tarda horas en completarse lo mismo que tarda minutos con esto.

In [ ]:
for x in range(0,len(movimientos), 100000):
    movimientos.iloc[x:x + 100000].to_sql('bike_movement', engine, if_exists='append',index=False) #truncates the table