## Contaminación del aire por día.

Queremos trabajar sobre estos datos para ver después como afecta la contaminación (si es que afecta) en el uso de las bicicletas. Para esto necesitamos hacer el trabajo previo de lal impieza y transformación de estos datos

Los valores que importan son los siguientes:

The AQI level is based on the level of six atmospheric pollutants, namely sulfur dioxide (SO2), nitrogen dioxide (NO2), suspended particulates smaller than 10 μm in aerodynamic diameter (PM10)suspended particulates smaller than 2.5 μm in aerodynamic diameter (PM2.5)，carbon monoxide (CO), and ozone (O3) measured at the monitoring stations throughout each city

Los codigos del excel de datos son los siguientes:

* 09 -  PM 2.5
* 10 - PM10
* 14 - Ozono O3
* 08 - Dioxido de nitrogeno NO2
* 01 - Dioxido de Azufre SO2
* 06 - Monoxido de carbono CO

**Códigos de estaciones:**

Más céntricas
* Retiro: 49
* Plaza del carmen: 35
* Castellana: 48

En zonas mas alejadas está:
* El pardo: 58
* Casa de campo: 24


**SOLO SON VALIDOS LOS VALORES QUE TIENEN UNA V**

In [92]:
import pandas as pd
from datetime import date, datetime, timedelta
import re

In [93]:
data2018 = pd.read_excel('../dat/calidadaire2018.xlsx')
#data2017 = pd.read_excel('../dat/calidadaire2017.xlsx') 
#data2016 = pd.read_excel('../dat/calidadaire2016.xlsx') 
data2018.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2018,1,1.0,V,1.0,...,2.0,V,2.0,V,6.0,V,5.0,V,6.0,V
1,28,79,4,1,28079004_1_38,2018,2,5.0,V,3.0,...,3.0,V,2.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2018,3,1.0,V,2.0,...,2.0,V,4.0,V,2.0,V,2.0,V,2.0,V
3,28,79,4,1,28079004_1_38,2018,4,2.0,V,3.0,...,1.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2018,5,2.0,V,2.0,...,2.0,V,2.0,V,3.0,V,2.0,V,2.0,V

In [94]:
#Elimino columnas que no me sirven
del data2018['PROVINCIA']
del data2018['MUNICIPIO']
del data2018['PUNTO_MUESTREO']

In [95]:
data2018.head()

,ESTACION,MAGNITUD,ANO,MES,D01,V01,D02,V02,D03,V03,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,4,1,2018,1,1.0,V,1.0,V,2.0,V,...,2.0,V,2.0,V,6.0,V,5.0,V,6.0,V
1,4,1,2018,2,5.0,V,3.0,V,2.0,V,...,3.0,V,2.0,V,0.0,N,0.0,N,0.0,N
2,4,1,2018,3,1.0,V,2.0,V,1.0,V,...,2.0,V,4.0,V,2.0,V,2.0,V,2.0,V
3,4,1,2018,4,2.0,V,3.0,V,2.0,V,...,1.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,4,1,2018,5,2.0,V,2.0,V,3.0,V,...,2.0,V,2.0,V,3.0,V,2.0,V,2.0,V

In [96]:
#Filtro por estaciones y magnitudes que me interesan
estaciones_utilizar = [24,35,48,49,58]
magnitudes_interes = [1,6,8,9,10,14]
data2018_copy = data2018.copy()
data2018_copy = data2018_copy[data2018_copy.ESTACION.isin(estaciones_utilizar)]
data2018_copy = data2018_copy[data2018_copy.MAGNITUD.isin(magnitudes_interes)]

In [99]:
#data2018_copy.MAGNITUD.unique()

In [100]:
#Convierto en formato largo para tener dias y valores como filas
data2018_formatted = pd.melt(data2018_copy, id_vars =['ESTACION', 'MAGNITUD', 'ANO', 'MES'])
data2018_formatted.head()

   ESTACION  MAGNITUD   ANO  MES variable value
0        24         1  2018    1      D01     3
1        24         1  2018    2      D01     5
2        24         1  2018    3      D01     4
3        24         1  2018    4      D01     4
4        24         1  2018    5      D01     3

In [101]:
#Necesito crearme la fecha en una columna
def get_date_from_columns(row):
    try:
        year = row.ANO
        month = row.MES
        day = int(re.findall('[0-9]+', row.variable)[0])
        return date(year, month, day)
    except:
        #DA ERROR EN DIAS QUE NO EXISTEN. Los voy a borrar despues
        return date(1900,1,1)

def convert_to_letter(variable):
    return re.findall('[A-Z]+',variable)[0]

data2018_formatted['date'] = data2018_formatted.apply(get_date_from_columns, axis=1)
data2018_formatted['variable'] = data2018_formatted.variable.apply(convert_to_letter)
data2018_formatted.head(1)

   ESTACION  MAGNITUD   ANO  MES variable value        date
0        24         1  2018    1        D     3  2018-01-01

In [102]:
data2018_formatted.shape

(12276, 7)

In [103]:
#Elimino las fechas que están mal-
data2018_formatted = data2018_formatted[data2018_formatted.date != date(1900,1,1)]

In [104]:
data2018_formatted.shape #Confirmo se eliminaron filas

(12044, 7)

In [105]:
#Quiero cruzar los dias que tengan la V porque son los que tienen valores validos. Los demás no me sirven. Por eso los separo por variable para despues hacer un join
data2018_formatted_D = data2018_formatted[data2018_formatted.variable == 'D'].sort_values(['ESTACION','MES', 'MAGNITUD'])
data2018_formatted_V = data2018_formatted[data2018_formatted.variable == 'V'].sort_values(['ESTACION','MES', 'MAGNITUD'])

In [106]:
data2018_formatted = data2018_formatted_D.merge(data2018_formatted_V, on=['date','MAGNITUD', 'ESTACION'])

In [107]:
#SOLO QUIERO LOS DIAS QUE TENGAN VALOR V 
data2018_formatted = data2018_formatted[data2018_formatted.value_y == 'V']

In [108]:
#Borro columnas que no me interesan.
del(data2018_formatted['variable_y'])
del(data2018_formatted['value_y'])
del(data2018_formatted['MES_y'])
del(data2018_formatted['ANO_y'])
del(data2018_formatted['variable_x'])

In [109]:
#Cambio nombre de las columnas
data2018_formatted.columns = ['estacion', 'magnitud', 'ano', 'mes', 'medicion','fecha']
data2018_formatted.head()

   estacion  magnitud   ano  mes medicion       fecha
0        24         1  2018    1        3  2018-01-01
4        24         1  2018    1        3  2018-01-05
5        24         1  2018    1        3  2018-01-06
6        24         1  2018    1        3  2018-01-07
7        24         1  2018    1        4  2018-01-08